@model CompanyWebApplication.Models.VMListeDeprt
@{
    ViewBag.Title = "AjouterDeprt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AjouterDeprt</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("AjouterOrModifierDeprt", "Company", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.id_dep)
            <div class="form-group">
                @Html.LabelFor(model => model.nom_dep)
                @Html.TextBoxFor(model => model.nom_dep, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.nom_dep)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.description_dep)
                @Html.TextAreaFor(model => model.description_dep, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.description_dep)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Date_creat)
                @Html.TextBoxFor(model => model.Date_creat, new { @class = "form-control", @type ="Date" })
                @Html.ValidationMessageFor(model => model.Date_creat)
            </div>
            <div class="form-group">
                @Html.Label("Catégorie")
                @Html.DropDownListFor(model => model.id_cat, new SelectList(Model.listCat,"id_cat","description_cat"),new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_cat)
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @{
                        if(Model.id_dep != 0 ){
                            <input type="submit" value="Update" class="btn btn-success" />
                        }
                        else
                        {
                            <input type="submit" value="Save" class="btn btn-primary" />
                        }
                    }

                </div>
            </div>

        }


    </div>
</div>