@model CompanyWebApplication.Models.VMListeCat
@{
    ViewBag.Title = "Liste des Catégories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<h3>@TempData["SuccessMessageCat"]</h3>

<div cass="Row">
    <div class="col-md-6">
        @Html.ActionLink("Ajouter Categorie", "RedirectToAjouterOrModifierCat", new { @id = 0 }, new { @class = "btn btn-outline-success my-2 my-sm-0" })
        <h2>Liste des Catégroies</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col">Id Catégorie</th>
                    <th class="col">Déscription</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lisCat)
                {
                    <tr>
                        <th>@Html.DisplayFor(itemX => item.id_cat)</th>
                        <td>@Html.DisplayFor(itemX => item.description_cat)</td>
                        <td>
                            <a href="/Company/RedirectToAjouterOrModifierCat/@item.id_cat">Update</a>
                        </td>
                        <td>
                            <a href="/Company/Delete/@item.id_cat">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <ul class="list-group list-group-horizontal">
                @{
                    string className = "";
                    int j = 0;
                    for (int i = 0; i < ViewBag.TotalPages; i++)
                    {
                        className = "";
                        if (ViewBag.CuerrentPage == i) { className = "active"; }
                        j = i + 1;
                        <li class="list-group-item @className"><a href="/Company/ListeCat/?page=@i&size=5">@j</a></li>
                    }
                }



            </ul>

        </div>
    </div>
    <div class="col-md-6">

    </div>

</div>


